[submodule "src/ENV"]
	path = src/ENV
	url = https://github.com/NanoCat-Me/ENV.git
[submodule "src/URI"]
	path = src/URI
	url = https://github.com/NanoCat-Me/URI.git
[submodule "src/crypto-js"]
	path = src/crypto-js
	url = https://github.com/brix/crypto-js.git
